In [1]:
# Imports

from faker import Faker
import pandas as pd
from laundromat.spacy.spacy_model import SpacyModel
from faker.providers.credit_card import Provider as CreditCardProvider

In [2]:
fake = Faker(['no_NO'])

In [3]:

df = pd.DataFrame(columns=['Navn', 'Adresse', 'PersonNr', 'CreditCard', 'ipv4'])
for i in range(100):
    row = fake.name(),fake.address(),fake.ssn(),fake.credit_card_number(),fake.ipv4()
    df.loc[i]=row

In [5]:
df.head()

,Navn,Adresse,PersonNr,CreditCard,ipv4
0,Eva Simonsen,"Jacobsenhavna 74, 6724 Johnås",17025545826,180099298422092,161.39.31.162
1,Ruth Karlsen,"Eliassenbakken 83, 6179 Evensen",22096425329,180067459702321,91.22.212.150
2,Harald Lie,"Ødegårdåsen 5F, 5160 Ellenberg",25028107709,3525694679249722,213.2.213.65
3,Henrik-Sander Pettersen,"Jakobsentjernet 08, 5984 Gulbrandsen",25086306789,30248702682591,191.107.207.152
4,Arne Strand,"Kristiansenlyngen 9C, 4218 Knutsen",16085248417,3534484638027693,76.153.112.160

In [6]:
textArray = []
for i in range(10):
    row=df.iloc[i]
    name = row[0] 
    adress = row[1]
    ssn = row[2]
    cc = row[3]
textArray.append(f'Hi, my name is {name}. I wonder if you deliver to {adress}. My credi card nr is {cc} and my ssn is {ssn}')